body {
  width: calc(100);
  height: calc(100);
}

header {
  background-color: black;
}

footer {
  background-color: lightgray;
}

.Topbar {
  background-color: inherit;
  display: grid;
  grid-auto-flow: column;
}

.Title {
  color: lightgray;
  text-align: center;
  font-style: times;
  font-size: 3vmax;
}

.buttons {
  font-size: 2vmax;
  font-style: times;
  border: none;
  background-color: transparent;
  color: lightgray;
}

.buttons a {
  text-decoration: 0;
}

.buttons a:hover {
  text-decoration: none;
}

.buttons:focus {
  outline-style: none;
}

.Searchbar {
  color: black;
  background-color: lightgray;
  font-size: 2vmax;
  margin: 5%;
  width: 80%;
  min-height: 5ch;
}

.img {
  border: 10px solid;
  margin: 5%;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
}
.img img {
  border: 5px solid black;
  border-radius: 10%;
  margin: 1%;
  min-width: 45%;
  max-width: 200px;
}

.Comments {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: flex-end;
  width: 100%;
}

.TextContent {
  background-color: white;
  font-size: 3ch;
  width: 80%;
  min-width: 20%;
  margin: 5%;
  min-height: min-content;
  max-height: min-content;
}
