body {
  width: calc(100);
  height: calc(100);
}

header {
  background-color: black;
}

footer {
  background-color: lightgray;
}

.Topbar {
  background-color: inherit;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
}

.Title {
  color: lightgray;
  text-align: center;
  font-style: times;
  font-size: 1.5vmax;
  padding-top: 4%;
}

.buttons {
  font-size: 1.5vmax;
  font-style: times;
  border: none;
  background-color: transparent;
  color: lightgray;
}

.buttons a {
  text-decoration: 0;
}

.buttons a:hover {
  text-decoration: none;
}

.buttons:focus {
  outline-style: none;
}

.Searchbar {
  color: black;
  background-color: lightgray;
  font-size: 1.5vmax;
  margin: 5%;
  width: 80%;
  min-height: 3ch;
}

.img {
  border: 10px solid;
  margin: 5%;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
}
.img img {
  border: 5px solid black;
  border-radius: 10%;
  margin: 1%;
  min-width: 45%;
  max-width: 200px;
}

.Comments {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
  width: 100%;
}

.TextContent {
  background-color: white;
  font-size: 3ch;
  width: 85%;
  margin: 7%;
  min-height: min-content;
  max-height: min-content;
}

.Profile {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.ProfilePictures {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
